/* profiles.css */

/* Container Styles */
.container {
    display: flex;
  }
  
  /* Sidebar Styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Full height */
    width: 20%; /* Adjust the width as needed */
    background-color:antiquewhite;
    padding: 20px;
  }
  
  /* Sidebar Button Styles */
  .sidebar button {
    margin-bottom: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ddd;
    transition: background-color 0.3s ease;
  }
  
  .sidebar button:hover {
    background-color: #ccc;
  }
  
  body {
    background-color:cornsilk
  }
  
 
