.bo {
  /* background-color: #f5f5f5 !important; */
  background: linear-gradient(#8572df40, rgba(0, 0, 0, 0));
    width: 100%;
  }

.App {
    text-align: center;
    margin-top: 53px;
    
  }

  
  
  .card-container-1 {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    margin-top: 20px; /* Add some top margin for spacing */
    flex-wrap: wrap;

  }
  
  .card-1 {
    width: 46%; /* Adjust the width of each card as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #f5f5f5 !important;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
    }
    
   h1 {
    background-color: #f5f5f5;
    
   }
  
    h2 {
      
      margin-bottom: 10px;
    }
  }




@media (max-width: 768px) {
    .card-1 {
        width: 100%;
    }
}
@media (max-height: 768px) {
  .card-1 {
      height: 100%;
  }
}