
.quiz-history-container {
    margin-top: 10px;
    padding: 20px;
    box-shadow: 1px 5px 16px 0px rgba(185, 192, 191, 0.493);
    background: linear-gradient(#8572df40, rgba(0, 0, 0, 0));
    height: max-content;
  }
  
  .quiz-history {
    max-width: 1000px;
    margin: 0 auto;
    /* background-color:rgb(154, 204, 218); */
  
  }
  
  .quiz-list {
    list-style: none;
    padding: 0;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.459);
    background-color: linear-gradient(#63b7e740, rgba(231, 230, 230, 0));
    max-height: 100vh;
    overflow-y: scroll;
  
  }
  
  .quiz-card {
    border-bottom: 1px solid #e9e3e3;
    padding: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
    background-color: linear-gradient(#63b7e740, rgba(231, 230, 230, 0));
  
    
  
  }
  
  .quiz-card:hover {
    background-color: #eee;
    transform: scale(1.02);
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.459);

  }
  
  .quiz-card.selected {
    background-color: #f8f8f8;
    /* background: linear-gradient(#8572df40, rgba(0, 0, 0, 0)); */

    
  }
  
  .quiz-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Franklin Gothic Medium'; */
    /* font-size: 16px; Adjust font size as needed */
    /* font-weight: bold; */
    
  }
  
  .quiz-details {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    /* font-family: 'YourChosenFont', cursive; */
    
    

  }
  
  .answers {
    margin-top: 10px;
    transition: 2s ease-in-out;

    /* display: inline; */

  }
  
  .answer {
    padding-top: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .correct {
 
    content: '✔ ';
    color: #0aa751;
  
  
    
  }
  
  .wrong {
    
  
    content: '✘ ';
    color: #ff4646;
    
    
   
  }
  .question-text {
    color: black; 
  }
 
  .with-space{
    /* display: flex; */
    /* margin-top: -5.5%; */
    margin-left: 88%;
    /* margin-block-end: -8px; */
    
  }
  
  .symbol {

    margin-right: 40px;
  }
