#home{
    background-image: none;
}

.background{
    margin: 0;
    /* padding-left: 9%; */
    height: 100vh;
    width: fit-content;
    /* background-image: url('../images/bg01.png'); */
    /* background-size: cover; */
    background-size: 100vw 100vh;
    background: linear-gradient(#8572df40, rgba(0, 0, 0, 0));
}

.card {
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 80px;
    transition: 0.5s ease-in-out;
    font-size: 15px;
}

.card:hover{
    cursor:pointer;
    transform: scale(1.08);
}


.domain-card.bg-secondary {
        background-color: rgb(240, 240, 239) !important;

    }
