html{
    overflow-y: hidden;
}
body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Agbalumo', system-ui;
    font-family: 'Poppins', sans-serif;
    /* background: url("bg2.png"); */
    background-size: cover;
    background-color: #00000000;
    /* transition: background 0.3s, color 0.3s; */


}

header {
    background-color: #8486b7;
    padding: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: auto;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#nav-buttons {
    display: flex;
    align-items: center;
}

#login,
#signup {
text-decoration: none;
color: rgb(14, 14, 7);
padding: 10px;
margin-left: 15px;
border: 3px solid #fff;
border-radius: 5px;
transition: background-color 0.3s, color 0.3s, border 0.3s;
}

#login:hover,
#signup:hover {
background-color: #fff;
color: #333;
border: 3px solid black;
}


#center-text {
    text-align: center;
    height:100vh;
    
    padding: 80px;
    /* border: 2px solid green; */
    margin-top: 150px;
    font-size: larger;
    transition: background-color 0.3s, color 0.3s;
    color:#1b1811;

}