/* nav {
    background-color: #3333336d;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
a:hover {
    color: #ffd700; /* Change color on hover} */
