

.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 4;
  }
  
  .navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }



  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .nav-item {
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    transition: 0.2s ease-in;

  }
  .nav-item:hover{
    background-color: #cfcfcf;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .nav-item button {
    border: none;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 10px;
    width: 100%;
  }

  .items{
    width: 100%;
  }
  
  .nav-item.active a {
    color: #007bff;
  }
  
  .side-navbar {
    /* ... other styles ... */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
  }
  
  .side-navbar.collapsed {
    transform: translateX(-99.6%); /* Hide the navbar when collapsed */
  }
  .navbar-toggler{
    /* border: 1px solid red; */
    width: 30px;
    height: 40px;
    margin-right: -15%;
    margin-left: 108%;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  .logo{
    width:100px;
    height: 100px;
  }