@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.signup-btn {
  margin-bottom: 20px;
  display: inline-block;
  display: inline;
  zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #ededed;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);

  background-image: -webkit-linear-gradient(to top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(to top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-left: 0.3em;
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(to top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(to top, #6eb6de, #4a77d4);

  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(to top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);

  border-radius: 5px;
  width: 100%;
  display: block;
}

.btn:hover {
  background-color: linear-gradient(to top, #c1c1c1, #4a77d4);
}

/* html { width: 100%; height:100%; overflow:hidden; } */

.signup {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
}
.signup h1 {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-align: center;
}

.signup-input {
  width: 100%;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #000000;
  border-radius: 50px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
.signup-input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

.login-link {
  text-decoration: none;
  margin-left: 0;
  color: rgb(0, 60, 145);
}

.login-link:hover {
  color: #0400ff;
}


