/* src/App.css */
body {
  margin: 0;
  padding: 0;
  /* background-image: url('images/bg.jpg'); */
  background-size: 100vw 100vh;
  background-color: #ccdae2;

  
}


* {
    margin: 0;
    padding: 0;
  }
/* Add styles for individual pages if needed */

