/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-image: url('images/bg33.jpg') !important;
  background-size: 100vw 100vh;

  /* background-color: whitesmoke !important; */
  /* background-color: linear-gradient(#8572df40, rgba(0, 0, 0, 0)) ; */

  /* background: rgb(198, 203, 204) !important; */
  /* background: linear-gradient(158degb,rgba(40,34,70,1) 0%, rgb(154, 155, 161) 100%) !important; */


  
}


* {
    margin: 0;
    padding: 0;
  }
/* Add styles for individual pages if needed */

