/* src/App.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Add styles for individual pages if needed */
